layout {
    cwd "{{ worktree_path }}"
    tab name="shell" focus=true {
        pane command="{{ shell }}" {}
    }
    tab name="editor" {
        pane command="nvim" {
            args "."
        }
    }
    tab name="opencode" {
        pane command="opencode" {}
    }
}
